.header {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--color-brand-blue);
  padding: var(--padding-m) var(--padding-l);
}

.title {
  font-size: var(--font-size-m);
  line-height: 2rem;
  margin: 0;
  padding: 0;
  color: #fff;
}
