.column {
  padding: 1rem;
  background: #efefef;
  border: 1px solid #dadada;
  border-radius: 6px;
  width: 20rem;
  max-width: calc(100vw - 6rem);
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.header {
  display: flex;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #222;
}

.button {
  cursor: pointer;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 2rem;
  height: 2rem;
}
