:root {
  --padding-xs: 0.5rem;
  --padding-s: 1rem;
  --padding-m: 2rem;
  --padding-l: 3rem;
  --padding-xl: 4rem;

  --radius-m: 7px;

  --font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --font-size-l: 1.5rem;

  --color-white: #ffffff;
  --color-brand-blue: #1463FF;
  --color-gray-5: #F1F1F1;
  --color-gray-alto: #DDDDDD;
  --color-text-default: #303030;
  --color-border-primary: #0030CC;
  --color-background-primary: #1463FF;
}